.list-users-container {
    .list-users-content {
        .child {
            height: 40px;
            border: 1px solid grey;
            width: 300px;
            margin: 0 auto;
        }
    }
}